
#abigail{
    background-image: url("./ressources/char\ icons/abigail.png");
}
#akira{
    background-image: url("./ressources/char\ icons/akira.png");
}
#akuma{
    background-image: url("./ressources/char\ icons/akuma.png");
}
#alex{
    background-image: url("./ressources/char\ icons/alex.png");
}
#balrog{
    background-image: url("./ressources/char\ icons/balrog.png");
}
#birdie{
    background-image: url("./ressources/char\ icons/birdie.png");
}
#blanka{
    background-image: url("./ressources/char\ icons/blanka.png");
}
#cammy{
    background-image: url("./ressources/char\ icons/cammy.png");
}
#chunli{
    background-image: url("./ressources/char\ icons/chunli.png");
}
#cody{
    background-image: url("./ressources/char\ icons/cody.png");
}
#dan{
    background-image: url("./ressources/char\ icons/dan.png");
}
#dhalsim{
    background-image: url("./ressources/char\ icons/dhalsim.png");
}
#ed{
    background-image: url("./ressources/char\ icons/ed.png");
}
#ehonda{
    background-image: url("./ressources/char\ icons/ehonda.png");
}
#falke{
    background-image: url("./ressources/char\ icons/falke.png");
}
#fang{
    background-image: url("./ressources/char\ icons/F.A.N.G.png");
}
#g{
    background-image: url("./ressources/char\ icons/g.png");
}
#gill{
    background-image: url("./ressources/char\ icons/gill.png");
}
#guile{
    background-image: url("./ressources/char\ icons/guile.png");
}
#ibuki{
    background-image: url("./ressources/char\ icons/ibuki.png");
}
#juri{
    background-image: url("./ressources/char\ icons/juri.png");
}
#kage{
    background-image: url("./ressources/char\ icons/kage.png");
}
#karin{
    background-image: url("./ressources/char\ icons/karin.png");
}
#ken{
    background-image: url("./ressources/char\ icons/ken.png");
}
#kolin{
    background-image: url("./ressources/char\ icons/kolin.png");
}
#laura{
    background-image: url("./ressources/char\ icons/laura.png");
}
#lucia{
    background-image: url("./ressources/char\ icons/lucia.png");
}
#luke{
    background-image: url("./ressources/char\ icons/luke.png");
}
#mbison{
    background-image: url("./ressources/char\ icons/mbison.png");
}
#menat{
    background-image: url("./ressources/char\ icons/menat.png");
}
#nash{
    background-image: url("./ressources/char\ icons/nash.png");
}
#necalli{
    background-image: url("./ressources/char\ icons/necalli.png");
}
#oro{
    background-image: url("./ressources/char\ icons/oro.png");
}
#poison{
    background-image: url("./ressources/char\ icons/poison.png");
}
#rashid{
    background-image: url("./ressources/char\ icons/rashid.png");
}
#rmika{
    background-image: url("./ressources/char\ icons/rmika.png");
}
#rose{
    background-image: url("./ressources/char\ icons/rose.png");
}
#ryu{
    background-image: url("./ressources/char\ icons/ryu.png");
}
#sagat{
    background-image: url("./ressources/char\ icons/sagat.png");
}
#sakura{
    background-image: url("./ressources/char\ icons/sakura.png");
}
#seth{
    background-image: url("./ressources/char\ icons/seth.png");
}
#urien{
    background-image: url("./ressources/char\ icons/urien.png");
}
#vega{
    background-image: url("./ressources/char\ icons/vega.png");
}
#zangief{
    background-image: url("./ressources/char\ icons/zangief.png");
}
#zeku{
    background-image: url("./ressources/char\ icons/zeku.png");
}