@font-face{
    font-family:"SF";
    src: url("./ressources/font/Act_Of_Rejection.ttf");
}

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%
}

/* ------------------------------------------------------ HEADER ----------------------------------------------------------- */

header{
    height: 20vh;
    background-image: url("./ressources/image/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    height: 180px;
    width : 250px;
}

header h1{
    font-family: "SF";
    font-size: 5rem;
    background-image: linear-gradient(0deg, rgba(201,34,34,1) 0%, rgba(252,0,0,1) 40%, rgba(255,239,0,1) 100%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: 1px 1px 1px black;
}

header p{
    font-size: 1.3rem;
    position: absolute;
    right: 20px;
    top: 10px;
}

header p svg{
    height: 15px;
}

header p:hover{
    cursor: pointer;
}

/* ------------------------------------------------------ BASE ----------------------------------------------------------- */

#base{
    display: flex;
    flex-direction: row;
    height: 65vh;
}

#achievement{
    width: 20%;
    background-color: #C7D6D5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#achievement div{
    margin-top: 5px;
    position: relative;
    width: 90%;
    height : 250px;
    border-radius: 25px;
    background-color: #D28D67ff;;
    text-align: center;
}

#achievement div img{
    height: 100px;
    width: 150px;
    margin: 15px;
}

#achievement div p{
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #283651ff;
}

h3{
    color: #283651ff;
    font-size: 1.5rem;
    font-family: "SF";
    padding: 10px;
}

#grille{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #0A0908;
    width: 80%;
}

#grille>div{
    height : 100px;
    width : 100px;
    margin : 2px;
    color: antiquewhite;
    background-size: cover;
}


/* ----------------------------------------------------- POP UP ----------------------------------------------------- */

#lose, #win{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;    
}

h2{
    font-size: 8rem;    
    margin-top: 20px;
    font-family: "SF";
}

#win h2{
    color: rgb(31, 19, 143);
    text-shadow: 1px 1px 2px blue, 0 0 1em whitesmoke, 0 0 0.2em whitesmoke;
}

#lose h2{
    color: rgb(138, 17, 17);
    text-shadow: 1px 1px 2px red, 0 0 1em whitesmoke, 0 0 0.2em whitesmoke;
}

#lose p, #win p{
    margin-top: 20px;
    font-size: 1.5rem;
    color: white;
    padding: 5px;
}

#lose p{
    background-color: rgb(138, 17, 17);
}

#win p{
    background-color: blue;
}

#fight{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity : 0;
}

.fightanim{
    animation : fightanim 1s ease-in;
}

.intro{
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 70vh;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: #D28D67ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.intro h1{
    text-align: center;
    font-size: 3rem;
    margin-top: 15px;
    margin-bottom: 25px;
}

.intro p{
    padding: 20px;
    font-size: 1.5rem;
}

.intro button{
   width: 200px;
   height: 50px;
   position: absolute;
   left: 50%;
   top: 85%;
   transform: translate(-50%);
   font-size: 2rem;
   background-color: #283651ff;
   border-radius: 15px;
   color: white;
}


/* --------------------------------------------------------- BOTTOM -------------------------------------------------------- */

#bottom{
    display: grid;
    width: 100%;
    height: 15vh;
    position: sticky;
    align-items: center;
    justify-items: center;
    background-color: #283651ff;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "score input stop"
    "restart timer stop"    
}

#score{
    grid-area : score;
    font-size: 1.2rem;
}

#restart{
    grid-area: restart;    
}

#restart button{
    font-size: 1.5rem;
    width : 150px;
    height : 50px;
    font-family: "SF";
    background-color: #D28D67ff;
    border-radius: 5px;
}

#input{
    justify-content: center;
    margin-top: 10px;
    grid-area: input;
}

#input input{
    width: 250px;
    height: 50px;
    font-size: 1.5rem;
}

#input input::placeholder{
    font-size: 1.5rem;
}

#timer{
    color: #D28D67ff;
    font-size: 4rem;
    text-align: center;
    grid-area: timer;
}

#stop{
    font-size: 3rem;
    border-radius: 5px;
    width : 350px;
    height : 100px;
    grid-area: stop;
    font-family: "SF";
    background-color: #D28D67ff;
}

#stop:hover{
    cursor: pointer;
}

@keyframes fightanim
{
    from{
        opacity : 0;    
    }      
    to{
        opacity : 100%;
    }
}

.hidden{
    display: none;
}
