@font-face{
    font-family: "Louis";
    src: url(./ressources/font/Louis\ George\ Cafe.ttf);
}

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-y: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
    height:100vh;
}

main{
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    font-family: "Louis";
    overflow-y: auto;
    height: 100%;
}

main>div{
    scroll-snap-align: start;
}

/* -----------------------------  NAVBAR  ----------------------------- */
nav{
    top:0px;
    height: 40px;
    background-color: rgb(112, 13, 13);
    color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    position: sticky;
    z-index: 1;
}

nav>ul{
    display: flex;
}

nav>ul>li{
    list-style-type: none;
    margin: 10px;

}

nav>ul>li:hover{
    transform: translate(0px , -5px);
}

nav>ul>li>a{
    list-style-type: none;
    margin: 5px;
    text-decoration: none;
    color: antiquewhite;
}

nav>h3{
    position: absolute;
    right:10px;
    top:10px;
}

/* --------------------------- PAGE 1 Présentation ------------------------------ */

#presentation{
    height: 100vh;
    width: 100vw;
    background-image: url(./ressources/image/background6.jpg);
    background-size: 100%;
    background-position: center;
    position: relative;
}

#presentation>div{
    position: absolute;
    background-color: antiquewhite;
    border: red inset 5px;
}

#photo{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    left: 10%;
    top: 100px;
    animation: photo 3s ease-in-out;
}

#nom{
    top: 150px;
    right: 10%;
    height: 100px;
    width: 450px;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: nom 3s ease-in-out;
    font-family: "Louis";
}

#presentationdiv{
    top: 400px;
    right: 10%;
    width: 600px;
    height: 350px;
    animation: nom 3s ease-in-out;
}

/* --------------------------- PAGE 2 Expérience ------------------------------- */

#experience{
    height: 100vh;
    width: 100vw;
    background-image: url(./ressources/image/background6.jpg);
    background-size: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#experience>div{
    width: 800px;
    height: 200px;
    background-color: antiquewhite;
    border: red inset 5px;
}

.entreprise>img{
    width: 200px;
    height: 50px;
}

/* --------------------------- PAGE 3 Formation ------------------------------- */


#formation{
    height: 100vh;
    width: 100vw;
    background-image: url(./ressources/image/background6.jpg);
    background-size: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#formation>div{
    width: 800px;
    height: 200px;
    background-color: antiquewhite;
    border: red inset 5px;
    padding: 15px;
}

.diplome{
    color: darkgrey;
}

.date{
    font-style: italic;
}

/* --------------------------- Animation ------------------------------- */

@keyframes photo{
    from{
        left: -700px;
    }
    to{
        left: 10%;
    }
}

@keyframes nom{
    from{
        right: -700px;
    }
    to{
        right: 10%;
    }
}