*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#feu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 350px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

div div{
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
}

.red{
    background-color: red;
}

.orange{
    background-color: orange;
}

.green{
    background-color: green;
}

