*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 500px;
    height: 500px;
    background-image: linear-gradient(90deg, purple, red);
}

p{
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    border-radius: 50%;
    
}

#cercle1{
    position: absolute;
    left: 550px;
    top: 350px
}

#cercle2{
    position: absolute;
    left: 500px;
    top: 400px
}

#cercle3{
    position: absolute;
    left: 600px;
    top: 400px
}
